/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
.envrc
.direnv
.nix-hex
.nix-mix
_site
priv/site/assets/node_modules/
**/*.~undo-tree~
priv/site/global.css
