@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind typography;

:root {
  --c-black: #222222;
  --c-peach: #edd1b0;
  --c-peach: #edd1b0;
  --c-white: #ffffff;
  --c-bg: #fafafa;
}

html {
  background-color: var(--c-peach);
  font-size: 20px;
  line-height: 1.2;
  font-family: sans-serif;
  color: var(--c-black);
}

.title {
  text-align: center;
  font-size: 54px;
}

.main {
  max-width: 1000px;
  padding: 1rem;
  margin: 0 auto;
}
